<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HobbyHive</title>
  <link type="text/css" href="{{ url_for('static', path='/bootstrap.min.css') }}" rel="stylesheet" />
  <link type="text/css" href="{{ url_for('static', path='/app.css') }}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <style>
    .edit-btn {
      padding: 6px 12px;
      background-color: #ff9800;
      border: none;
      color: #333;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .edit-btn:hover {
      background-color: #ff9800;
    }
  </style>
</head>

<body style="margin: 0; font-family: 'Poppins', sans-serif; background: #f9f9f9;">

  <header>Hobby Hive</header>
  <nav>
    <a href="/">Index</a>
    <a href="/userCenter">Profile</a>
    <a href="javascript:;" id="sign-out" onclick="handleLogout()">Sign Out</a>
  </nav>
  <!--styles -->
  <div
    style="padding: 40px 30px; border-radius: 20px; box-shadow: 0 4px 16px rgba(0,0,0,0.1); width: 100%; max-width: 600px; text-align: center; background: #fff; margin: 40px auto;">
    <h2 style="color: #333;">Update Your Hobbies</h2>

    <div class="d-flex mb-3">
      <input id="add-hobby" type="text" maxlength="50" placeholder="Enter to add a hobby" />
      <button class="btn edit-btn ms-2" onclick="addHobby()">Add Hobby</button>
    </div>
    <div class="hobbies-list mb-3"></div>
    <button class="btn edit-btn" onclick="saveHobbies()">Save</button>
  </div>
  <script type="module" src="{{ url_for('static', path='/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', path='/app.js') }}"></script>
  <script>
    let hobbies = [];
    let userHobbies = [];
    window.onload = () => {
      hobbies = JSON.parse(localStorage.getItem("hobbies")) || [];
      userHobbies = JSON.parse(localStorage.getItem("userHobbies")) || [];
      render();
    }

    function render() {
      let container = document.querySelector('.hobbies-list');
      container.innerHTML = null;
      if (hobbies.length > 0) {
        hobbies.map(v => {
          let button = document.createElement('button');
          button.className = `btn me-2 mb-2 ${userHobbies.indexOf(v) >= 0 ? 'edit-btn' : 'btn-outline-secondary'}`;
          button.textContent = v;
          button.onclick = function () {
            handleClick(v);
          }
          container.appendChild(button);
        })
      }
    }

    function addHobby() {
      let text = document.querySelector('#add-hobby').value.trim();
      if (!text) {
        alert("Please inpput hobby name!");
        return;
      }
      if (hobbies.indexOf(text) > -1) {
        alert("Hobby name exists already!");
        return;
      }
      hobbies.push(text);
      localStorage.setItem('hobbies', JSON.stringify(hobbies));
      document.querySelector('#add-hobby').value = "";
      render();
    }

    function handleClick(hobby) {
      let index = userHobbies.indexOf(hobby);
      if (index > -1) {
        userHobbies.splice(index, 1);
      } else {
        userHobbies.push(hobby);
      }
      render();
    }

    function saveHobbies() {
      if (userHobbies.length <= 0) {
        alert("Please choose at least 1 hobby!");
        return;
      }
      localStorage.setItem('userHobbies', JSON.stringify(userHobbies));
      window.location.href='/userCenter';
    }

  </script>
</body>

</html>